<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Totta </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Why Totta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" href="#">For Parents and Kids</a>
                    <a class="dropdown-item" href="#">For Teens</a>
                    <a class="dropdown-item" href="#">Our Story</a>
                    <a class="dropdown-item" href="#">Pricing</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Debit Cards
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="#">Debit cards for Kids</a>
                    <a class="dropdown-item" href="#">Debit Cards for Teens</a>
                    <a class="dropdown-item" href="#">Debit Cards Designs</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Features
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                    <a class="dropdown-item" href="#">Pocket Money and Chores</a>
                    <a class="dropdown-item" href="#">Savings</a>
                    <a class="dropdown-item" href="#">Parental Controls</a>
                    <a class="dropdown-item" href="#">Money Missions</a>
                    <a class="dropdown-item" href="#">Giftlinks</a>
                    <a class="dropdown-item" href="#">Junior ISA</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Money Talk
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                  <a class="dropdown-item" href="#">Pocket Money Tips</a>
                  <a class="dropdown-item" href="#">Chores Tips</a>
                  <a class="dropdown-item" href="#">Financial Education Tips</a>
                  <a class="dropdown-item" href="#">Online Money Safety</a>
                  <a class="dropdown-item" href="#">Family Tips</a>
                  <a class="dropdown-item" href="#">News</a>
              </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>